footer {
    background-color: #263A29;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.logo{
    float: left;
    height: 100px;
    width: 100px;
}
footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: #666;
}